body {
    margin: 0;
}
.capcalera {
    background-image: url("../img/fons.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.capcalera_titol {
    text-align: center;
    margin-inline: 30%;
    font-family: 'Segoe UI';
    font-size: 1.1rem;
    color: white;
}

.capcalera_line {
    border-bottom: 3px solid rgb(255, 0, 0);
    margin-inline: 49%;
}

.capcalera_info {
    text-align: center;
    color: whitesmoke;
}

.capcalera_button {
    margin-top: 2rem;
    margin-inline: 45%;
    padding: 1px;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    background-color: #FF5645;
    border-radius: 50px;

    &:hover {
        color: rgb(231, 231, 231);
        background-color: rgb(218, 0, 0);
        cursor: pointer;
    }
}


.content {
    background-color: #FF5645;
    padding-top: 1px;
    padding-bottom: 59px;
}

.content_titol{
    text-align: center;
    margin-top: 4rem;
    font-family: 'Segoe UI';
    font-size: 1.5rem;
    color: white;
}

.content_line {
    border-bottom: 3px solid white;
    margin-inline: 49%;
}

.content_info {
    text-align: center;
    color: whitesmoke;
    margin-inline: 31%;
}

.content_button {
    margin-inline: 45%;
    padding: 1px;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
    background-color: white;
    border-radius: 50px;

    &:hover {
        background-color: rgb(232, 232, 232);
        cursor: pointer;
    }
}
