p {
    color: rgb(123, 226, 255);
    background-color: blue;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 10rem;
    min-height: 5rem;
    overflow: hidden;
}
