body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.fons {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.persona {
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
    border-right: 3px solid white;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.nom {
    font-size: 3.5rem;
}

.ofici {
    font-size: 1.5rem;
}

.info {
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 1.5rem;
}

.info ul {
    list-style: none;
}

.info li {
    margin: 30px;
}

.info a {
    color: white;
    text-decoration: none;
}
