body{
    margin-right: 20rem;
    margin-left: 20rem;
    border: 0.2rem solid black;
}

header {
    text-align: center;
    background-color: rgb(48, 214, 48);
    border-bottom: 5px solid darkgreen;
    padding: 0.5rem;
}

header h1 {
    font-size: 3rem;
    font-family: system-ui;
    color: white;
    margin: 0;
}

.esquerra {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
}

.dreta {
    margin-top: 2rem;
    margin-right: 1rem;
    justify-content: right;
    display: flex;
}

.imatge {
    height: 60px;
    width: 60px;
    margin-top: 1.5rem;
}

.imatge img {
    width: 100%;
    border-radius: 50%;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
}

.usernameDreta {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: right;
}

.info {
    background-color: rgb(238, 238, 238);
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 350px;
}

.info p {
    margin: 0;
}

.date {
    color: gray;
    text-align: right;
    font-size: 0.9rem;
    padding-top: 5px;
}

.dateDreta {
    color: gray;
    text-align: left;
    font-size: 0.9rem;
    padding-top: 5px;
}
