@font-face {
    font-family: 'Moranga';
    src: url(../fonts/Latinotype%20-%20Moranga%20Light.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #FBEECA;
    margin: 0;
}

.content {
    display: flex;
}

.content_text {
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 3%;
}

.title {
    font-family: 'Moranga';
    font-size: 3.5rem;
    line-height: 3.7rem;
}

.info {
    font-family: 'Segoe UI';
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.image {
    margin-top: 10%;
    margin-right: 20%;
}
.image img{
    width: 300px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    margin-left: 13%;
}

.subscribe {
    background-color: #007C89;
    color: white;
    padding-block: 1.5rem;
    padding-inline: 3rem;
    font-size: 1.2rem;
    font-family: 'Segoe UI';
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

.plans {
    color: #007C89;
    padding-block: 1.5rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    font-family: 'Segoe UI';
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

.advice {
    margin-top: 2.5rem;
    padding-block: 15px;
    padding-inline: 13%;
    text-align: center;
    background-color: #C5DBF2;
    font-size: 1.3rem;
    font-family: 'Segoe UI';
}

.aqui {
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }    
}
