@font-face {
    font-family: 'Moranga';
    src: url(../fonts/Latinotype\ -\ Moranga\ Light.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

.column {
    margin-inline: 40%;
    border: 3px solid rgb(224, 224, 224);
}

.recomended {
    margin: 0;
    padding: 3px;
    text-align: center;
    font-family: 'Segoe UI';
    background-color: rgb(255, 222, 35);
}

.content {
    margin-block: 10%;
    margin-inline: 12%;
}

.title {
    font-size: 1.8rem;
    font-family: 'Moranga';
    margin-bottom: 0;
}

.info {
    font-family: 'Segoe UI';
    margin-bottom: 0;
}

.price {
    margin: 0;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: bold;
}

.price .small {
    font-size: 0.8rem;
    vertical-align: 13px;
}

.quota {
    margin-top: 0;
    font-family: 'Segoe UI';
    color: gray;
}

.contactos {
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #007C89;

    &:hover {
        cursor: pointer;
    }
}

.buy {
    text-align: center;
    padding: 10px;
    background-color: #007C89;
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;

    &:hover {
        background-color: #016e7a;
        cursor: pointer;
    }
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: url('../img/check.png') no-repeat left center;
    background-size: 16px;
    padding-left: 30px;
    margin-bottom: 12px;
    font-family: 'Segoe UI';
}

.about {
    margin-block: 40px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #007C89;

    &:hover {
        cursor: pointer;
    }
}
