@font-face {
    font-family: 'TwinIon';
    src: url(../fonts/TwinIon-Fighter.otf) format(opentype);
    font-style: normal;
}

@keyframes loading {
    0% {
        width: 10px;
        transform: translateX(-10px);
    }

    100% {
        width: 500px;
        transform: translateX(0px);
    }
}

body {
    background-color: black;
    margin: 0;
}
.container {
    display: grid;
    place-items: center;
    margin-top: 5%;
}

.container h1 {
    font-family: 'TwinIon';
    font-size: 4rem;
    margin-bottom: 50px;
    color: blue;
    letter-spacing: 5px;
}

.loadbar {
    position: relative;
    transform-origin: 50% 50%;
    top: 22%;
    width: 90vw;
    max-width: 500px;
}

.full {
    width: 100%;
    background-color: blue;
    padding: 1.5rem;
    border-radius: 50px;
    margin-inline: auto;
    animation: loading 10s linear;
    position: absolute;
    left: 0px;
}

.empty {
    width: 100%;
    background-color: gray;
    padding: 1.5rem;
    border-radius: 50px;
    margin-inline: auto;
    position: absolute;
}