@keyframes apareixer {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.cookies {
    margin-top: 10%;
    margin-inline: 20%;
    border: 5px solid gainsboro;
    background-color: rgb(250, 250, 250);
    border-radius: 50px;
    padding: 1.5rem;
    font-family: 'Segoe UI';
    animation: apareixer 4s linear;
}

.terms {
    color: blue;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    justify-content: right;
    margin-right: 45px;
    gap: 20px;
}

.accept {
    background-color: rgb(25, 190, 25);
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;

    &:hover {
        background-color: rgb(22, 165, 22);
        cursor: pointer;
    }
}

.only {
    background-color: rgb(189, 189, 189);
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;

    &:hover {
        background-color: rgb(168, 168, 168);
        cursor: pointer;
    }
}
