@keyframes moving {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.container {
    display: flex;
    justify-content: center;
}

.pendulo {
    animation: moving 5s linear infinite;
    transform-origin: top center;
}