@keyframes girar {
  
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.noria {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  transform-origin: center;
  animation-name: girar;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
