.titol {
    text-align: center;
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.autor {
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.capitol {
    text-align: left;
    font-size: 2rem;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textU {
    font-size: 1.3rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.textDos {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}