@font-face {
    font-family: 'Qetod';
    src: url(../fonts/Qetod.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ComicA';
    src: url(../fonts/anime-ace.regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.titol {
    font-family: 'Qetod';
    text-align: center;
    font-size: 4rem;
}

main {
    margin-right: 100px;
    margin-left: 100px;
}
.text {
    font-family: 'ComicA';
    text-align: justify;
    font-size: 1.2rem;
}