:root {
    --background-black: #222222;
    --light-black: rgb(52, 52, 52);
    --white: #FFFFFF;
    --orange: #FD4C2A;
    --light-gray: #D7D2D0;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf) format(truetype);
    font-style: normal;
    font-display: swap;
}

@keyframes type {
    0% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-black);
    font-family: 'Inter';
}

nav {
    flex: 1;
    text-align: center;
    color: var(--white);
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-inline: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}

nav li a {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    padding: 12px;
    transform: translateY(0px);
    transition: transform 1s;
}

nav li a:hover {
    color: var(--orange);
    background-color: var(--light-black);
    border-radius: 15px;
    cursor: pointer;
    animation: selected 0.1s linear forwards;
    transform: translateY(-7px);
    transition: 0.25s;
}


.logo {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0px;
    transition: letter-spacing 0.5s;
}

.logo:hover {
    letter-spacing: 6px;
    transition: 0.5s;
}

.right {
    margin-right: 2rem;
}

.left a {
    margin-left: 2rem;
    text-decoration: none;
    color: var(--orange);
}

.container {
    display: flex;
    flex: 1;
    margin-left: 5%;
    margin-top: 2rem;
}

.content {
    font-family: 'Inter';
    width: 100%;
    max-width: 720px;
}

.hello {
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.im {
    font-size: 2.5rem;
    margin-left: 20px;
}

.name {
    font-size: 4.5rem;
    margin-block: 0;
    color: var(--orange);
}

.mark {
    color: var(--orange);
    font-weight: bold;
}

.markc {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.35rem;
}

.text {
    display: block;
    font-family: monospace;
    font-size: 1.5rem;
    white-space: nowrap;
    border-right: 3px solid;
    width: 35ch;
 
    animation: type 3s steps(35), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.introduction {
    font-size: 1.25rem;
    font-family: monospace;
    margin-top: 3rem;
}

.image {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.image img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 10px;
    background-color: var(--light-gray);
}

.copyright {
    margin-left: 2rem;
    font-family: 'Inter';
    font-size: 0.9rem;
}

.social-media {
    display: flex;
    margin-right: 3rem;
    gap: 25px;
}

.social-media img {
    width: 100%;
    max-width: 40px;
    transform: translateY(0px);
    transition: transform 0.5s;
}

.social-media img:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}
