.container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 1.5rem;
}

.content {
    display: flex;
    font-family: 'Inter';
    width: 100%;
    overflow: auto;
    gap: 2rem;
}

.first-content {
    width: 100%;
    max-width: 730px;
}

.hello {
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.im {
    font-size: 2.5rem;
    margin-left: 20px;
}

.name {
    font-size: 4.5rem;
    margin-block: 0;
    color: var(--orange);
}

.text {
    display: block;
    font-family: monospace;
    font-size: 1.5rem;
    white-space: nowrap;
    border-right: 3px solid;
    width: 36ch;
    animation: type 3s steps(35), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.introduction {
    font-size: var(--text-size);
    font-family: monospace;
    margin-top: 3rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%; 
}

.image img {
    width: 350px;
    height: 350px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.index-buttons {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.cv {
    padding-block: 1rem;
    padding-inline: 4rem;
    border: 0.15rem solid var(--background-black);
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--background-black);
    color: var(--orange);
    transform: translateY(0px);
    transition: 0.5s;
}

.cv:hover {
    background-color: var(--orange);
    color: var(--background-black);
    border-color: var(--orange);
    transform: translateY(-0.5rem);
    transition: 0.5s;
}
