:root {
    --background-black: #222222;
    --light-black: #343434;
    --light-black: rgb(52, 52, 52);
    --white: #FFFFFF;
    --orange: #FD4C2A;
    --light-gray: #D7D2D0;
    --light-gray2: #d7d2d08f;
    --blue: #3c62f9;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf) format(truetype);
    font-style: normal;
    font-display: swap;
}

@keyframes type {
    0% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-black);
    font-family: 'Inter';
}

nav {
    flex: 1;
    text-align: center;
    color: var(--white);
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-inline: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}

nav li a {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    padding: 12px;
    transform: translateY(0px);
    transition: transform 1s;
}

nav li a:hover {
    color: var(--orange);
    background-color: var(--light-black);
    border-radius: 15px;
    cursor: pointer;
    animation: selected 0.1s linear forwards;
    transform: translateY(-7px);
    transition: 0.25s;
}


.logo {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0px;
    transition: letter-spacing 0.5s;
}

.logo:hover {
    letter-spacing: 6px;
    transition: 0.5s;
}

.right {
    margin-right: 2rem;
}

.left a {
    margin-left: 2rem;
    text-decoration: none;
    color: var(--orange);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.introduction {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.image img {
    max-width: 55%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.cv {
    margin-top: 5%;
    padding-block: 1rem;
    padding-inline: 4rem;
    border: 0.15rem solid var(--background-black);
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--background-black);
    color: var(--orange);
    transform: translateY(0px);
    transition: 0.5s;
}

.cv:hover {
    background-color: var(--orange);
    color: var(--background-black);
    border-color: var(--orange);
    transform: translateY(-0.5rem);
    transition: 0.5s;
}

.presentation {
    width: 60%;
    margin-right: 10%;
}

.presentation h1{
    margin-top: 0;
    font-family: 'Inter';
    text-align: center;
}

.presentation p {
    font-family: monospace;
    font-size: 1.25rem;
    text-align: justify;
}

.languages {
    font-family: 'Inter';
    text-align: center;
}

.language-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.language-images img{
    width: 100%;
    max-width: 100px;
    padding: 10px;
}

.mark {
    color: var(--orange);
    font-weight: bold;
}

.mark a {
    color: var(--orange);
    font-weight: bold;
}

.markc {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.35rem;
}

.markb {
    color: var(--blue);
    font-weight: bold;
    font-size: 1.35rem;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    width: 100%;
    padding-block: 10px;
    background-color: var(--light-gray);
}

.copyright {
    margin-left: 2rem;
    font-family: 'Inter';
    font-size: 0.9rem;
}

.social-media {
    display: flex;
    margin-right: 3rem;
    gap: 25px;
}

.social-media img {
    width: 100%;
    max-width: 40px;
    transform: translateY(0px);
    transition: transform 0.5s;
}

.social-media img:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}
