.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

h1 {
    font-family: 'Inter';
    font-size: var(--title-size);
}

p {
    font-family: monospace;
    font-size: var(--text-size);
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1155px;
    margin-bottom: 2rem;
}

.info h1 {
    margin-bottom: 0;
}

.figma a {
    color: var(--blue);
    font-weight: bold;
}

.wireframe-row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 80%;
    margin-bottom: 3rem;
    gap: 6rem;
}

.wireframe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 80%;
    background-color: var(--light-black);
    border: 10px solid var(--light-black);
    border-radius: 50px;
    padding: 0 2rem 1rem 2rem;
    transform: scale(1);
    transition: transform 0.5s, border 0.5s;
}

.wireframe-block:hover {
    transition: transform 0.35s, border 0.2s;
    border: 10px solid var(--orange);
    transform: scale(1.05);
}

.wireframe-title a{
    color: var(--orange);
}

.wireframe-block img {
    width: 100%;
}

.wireframe-download {
    margin-top: 5%;
    padding-block: 1rem;
    padding-inline: 2rem;
    border: 0.15rem solid var(--background-black);
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--background-black);
    color: var(--orange);
    transform: translateY(0px);
    transition: 0.5s;
}

.wireframe-download:hover {
    background-color: var(--orange);
    color: var(--background-black);
    border-color: var(--orange);
    transform: translateY(-0.25rem);
    transition: 0.5s;
    cursor: pointer;
}