.container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.background {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    border: 10px solid black;
    overflow: hidden;
    position: relative;
}

.background img {
    width: 100%;
}

.wall {
    aspect-ratio: 5 / 2;
    object-fit: cover;
}

.floor {
    aspect-ratio: 5 / 5;
    object-fit: cover;
    transform-origin: top;
    transform: perspective(800px) rotateY(-20deg) rotateX(70deg) scaleX(1.4);
    width: 100%;
}

.sheep {
    position: absolute;
    transform: translate(50%, 50%) scale(1.2);
    top: 23%;
    left: 45%;
    filter: drop-shadow(-7.5rem -2.1rem 0.15rem black);
}
