.container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    perspective-origin: bottom left;
}

.cat {
    width: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    transform: rotateX(0deg);
    transition: transform 2s;

    &:hover {
        transform: rotateX(45deg);
        transition: 1s;
    }
}
