.capcalera {
    margin: 0;
    background-color: blue;
    padding: 10px;
}

.capcalera__titol {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comentaris {
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid rgb(169, 169, 169);
}

.comentaris__quantitat {
    margin-top: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.comentaris__text {
    margin-top: 60px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.comentaris__input {
    margin-top: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.comentaris__button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.usersComentaris {
    margin-top: 25px;
    margin-left: 220px;
    margin-right: 200px;
}

.comentari1 {
    display: flex;
    border-bottom: 1px solid rgb(169, 169, 169);
}

.comentari1__icon {
    width: 60px;
    margin-top: 11px;
    margin-right: 20px;
}

.comentari1__text {
    font-family: Arial, Helvetica, sans-serif;
}
