.modal {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.modal p {
    padding-inline: 7rem;
    padding-block: 3rem;
    font-size: 3rem;
    font-family: 'Segoe UI';
    background-color: aquamarine;
    border-radius: 50px;

    &:hover {
        transform: scale(2);
        cursor: pointer;
    }
}